.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.166;
  text-decoration: none;
  margin-right: 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 455px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}