.cover__link {
  width: 100%;
  min-height: 740px;
  background-image: url('../../../images/cover__background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover__link::before {
  content: '';
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: .3s ease-in-out;
}

.cover__link:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1185px) {
  .cover__link {
    min-height: calc(640px + (100 + 100 * 0.7) * ((100vw - 1024px) / 1185));
  }
}

@media screen and (max-width: 980px) {
  .cover__link {
    min-height: calc(480px + (160 + 160 * 0.7) * ((100vw - 768px) / 980));
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: calc(200px + (280 + 280 * 0.7) * ((100vw - 320px) / 768));
  }
}