.places {
  max-width: 984px;
  margin: auto;
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 928px) {
  .places {
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 725px) {
  .places {
    padding: 0;
  }
}