.cover__subtitle {
  max-width: 370px;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 32px 0 0 0;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 768));
  }
}

@media screen and (max-width: 480px) {
  .cover__subtitle {
    margin-top: 15.4px;
    max-width: 270px;
  }
}