.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 14px;
  font-size: 16px;
  line-height: 1.125;
}

.footer__link:last-of-type {
  padding-right: 0;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 710px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
    padding-bottom: 32px;
  }

  .footer__link:last-of-type {
    padding-bottom: 48px;
  }
}