.lead__title {
  max-width: 720px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
}

@media screen and (max-width: 760px) {
  .lead__title {
    max-width: 620px;
    font-size: calc(43px + (52 + 52 * 0.7) * ((100vw - 320px) / 760));
  }
}

@media screen and (max-width: 595px) {
  .lead__title {
    max-width: 500px;
  }
}

@media screen and (max-width: 455px) {
  .lead__title {
    max-width: 390px;
    margin-bottom: 16px;
  }
}