.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 1.61;
}

.place__paragraph:first-of-type {
  margin-bottom: 26px;
}

@media screen and (max-width: 928px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.20px;
  }
}

@media screen and (max-width: 928px) {
  .place__paragraph:first-of-type {
    margin-bottom: 25px;
  }

  .place__paragraph:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 725px) {
  .place__paragraph {
    line-height: 1.625;
    padding: 0 16px 0 16px;
  }
}