.place__link {
  text-decoration: none;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-size: 18px;
  line-height: 1.22;
  transition: 0.2s ease;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 725px) {
  .place__link {
    margin-left: 16px;
  }
}