.place {
  display: grid;
  grid-template: auto auto / minmax(320px, max-content) 1fr;
  gap: 48px 40px;
  padding-bottom: 80px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 1060px) {
  .place {
    grid-template-columns: 440px 1fr;
    column-gap: 32px;
  }
}

@media screen and (max-width: 928px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 725px) {
  .place {
    grid-template-columns: minmax(min-content, max-content);
    padding-bottom: 50px;
    row-gap: 32px;
  }
}