.place__url-heading {
  font-size: 12px;
  color: #AAAAAA;
  letter-spacing: 1.5px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

@media screen and (max-width: 725px) {
  .place__url-heading {
    margin-left: 16px;
  }
}