.intro__title {
  min-height: 58px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 0 40px 0;
}

@media screen and (max-width: 760px) {
  .intro__title {
    /* max-width: 620px; */
    font-size: calc(32px + (22 + 22 * 0.7) * ((100vw - 320px) / 760));
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    max-width: 250px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 360px) {
  .intro__title {
    max-width: 230px;
  }
}